/********************************************
   AUTHOR:  			Erwin Aligam
   WEBSITE:   			http://www.styleshout.com/
	TEMPLATE NAME:		Envision
   TEMPLATE CODE: 	S-0013
   VERSION:          1.1
	LAST MODIFIED     Nov-14-2007
 *******************************************/

/********************************************
   HTML ELEMENTS
********************************************/

/* Top Elements */
* {
    margin: 0;
    padding: 0;
    outline: 0
}

body {
    background: #CCC;
    font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
    color: #555;
    text-align: center;
}

/* links */
a, a:visited {
    text-decoration: none;
    color: #2180BC;
    background: inherit;
}

a:hover {
    color: #88ac0b;
    background: inherit;
    text-decoration: underline;
}

/* headers */
h1, h2, h3 {
    font-family: 'Trebuchet MS', Tahoma, Sans-serif;
}

h1 {
    font-size: 150%;
    font-weight: normal;
    color: #006699;
}

h2 {
    font-size: 140%;
    text-transform: uppercase;
    color: #88ac0b;
}

h3 {
    font-size: 120%;
    color: #666666;
}

/* images */
img {
    border: none;
}

img.float-right {
    margin: 5px 0px 10px 10px;
}

img.float-left {
    margin: 5px 10px 10px 0px;
}

h1, h2, h3, p {
    padding: 10px;
    margin: 0;
}

ul, ol {
    margin: 5px 20px;
    padding: 0 20px;
}

code {
    margin: 5px 0;
    padding: 10px;
    text-align: left;
    display: block;
    overflow: auto;
    font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
    /* white-space: pre; */
    background: #FAFAFA;
    border: 1px solid #f2f2f2;
}

acronym {
    cursor: help;
    border-bottom: 1px dotted #777;
}

blockquote {
    margin: 10px;
    padding: 0 0 0 28px;
    border: 1px solid #f2f2f2;
    background: #FAFAFA url(../images/quote.gif) no-repeat 5px 5px;
}

/* start - table */
table {
    border-collapse: collapse;
    margin: 10px;
}

th strong {
    color: #fff;
}

th {
    background: #93BC0C;
    height: 29px;
    padding-left: 12px;
    padding-right: 12px;
    color: #FFF;
    text-align: center;
    border-left: 1px solid #B6D59A;
    border-bottom: solid 2px #FFF;
}

form th {
    text-align: left;
}

tr {
    height: 30px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #FFF;
    border-bottom: solid 1px #ffffff;
    text-align: center;
}

form td {
    text-align: left;
}

td.first, th.first {
    border-left: 0px;
}

tr.row-a {
    background: #F8F8F8;
}

tr.row-b {
    background: #EFEFEF;
}

/* end - table */

/* form elements */
form {
    margin: 10px;
    padding: 0 5px;
    border: 1px solid #f2f2f2;
    background-color: #FAFAFA;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px 0;
}

input {
    padding: 2px;
    border: 1px solid #eee;
    font: normal 1em Verdana, sans-serif;
    color: #777;
}

textarea {
    padding: 2px;
    font: normal 1em Verdana, sans-serif;
    border: 1px solid #eee;
    height: 100px;
    display: block;
    color: #777;
}

input.button {
    font: bold 12px Arial, Sans-serif;
    height: 24px;
    margin: 0;
    padding: 2px 3px;
    color: #FFF;
    background: #8EB50C url(../images/button-bg.jpg) repeat-x 0 0;
    border: none;
}

/* search form */
.searchform {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 5px 0 15px 0;
    width: 190px;
}

.searchform p {
    margin: 0;
    padding: 0;
}

.searchform input.textbox {
    width: 120px;
    color: #777;
    height: 18px;
    padding: 2px;
    border: 1px solid #E5E5E5;
    vertical-align: top;
}

.searchform input.button {
    width: 60px;
    height: 24px;
    padding: 2px 5px;
    vertical-align: top;
}

/********************************************
   LAYOUT
********************************************/
#wrap {
    width: 820px;
    background: #CCC url(../images/content.jpg) repeat-y center top;
    margin: 0 auto;
    text-align: left;
}

#content-wrap {
    clear: both;
    width: 760px;
    padding: 0;
    margin: 10px auto;
}

header {
    width: 820px;
    position: relative;
    height: 103px;
    background: #CCC url(../images/header.jpg) no-repeat center top;
    padding: 0;
    color: #FFF;
}

header h1 a {
    position: absolute;
    margin: 0;
    padding: 0;
    font: bolder 44px 'Trebuchet MS', Arial, Sans-serif;
    letter-spacing: -2px;
    color: #FFF !important;
    text-transform: none;
    text-decoration: none;
    background: transparent;

    /* change the values of top and left to adjust the position of the logo*/
    top: 25px;
    left: 47px;
}

header h1 a:hover {
    text-decoration: none;
}

header p {
    position: absolute;
    margin: 0;
    padding: 0;
    font: normal 12px 'Trebuchet MS', Arial, Sans-serif;
    text-transform: none;
    color: #FFF;

    /* change the values of top and left to adjust the position of the slogan*/
    top: 70px;
    left: 55px;
}

/* header links */
header #header-links {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #C6DDEE;
    font-size: 10px;
}

header #header-links a {
    color: #FFF;
    text-decoration: none;
}

header #header-links a:hover {
    color: #D4E59F;
}

/* Menu */
nav {
    clear: both;
    margin: 0 auto;
    padding: 0;
    background: url(../images/menu.jpg) repeat-x 0 0;
    font: bold 12px/37px Verdana, Arial, Tahoma, Sans-serif;
    height: 37px;
    width: 780px;
}

nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    float: left;
    padding: 0 12px;
    color: #FFF !important;
    text-decoration: none !important;
}

nav ul li.last a {
    padding-right: 20px;
}

nav ul li a:hover {
    color: #D4E59F !important;
}

nav ul li#current a {
    color: #D4E59F !important;
}

/* Main Column */
#main {
    float: left;
    width: 70%;
    padding: 0;
    margin: 5px 0 0 5px;
    display: inline;
}

#main h2 {
    margin-top: 10px;
    font: Bold 140% 'Trebuchet MS', Tahoma, Sans-serif;
    color: #88ac0b;
    padding: 5px 0 5px 25px;
    border-bottom: 1px solid #EFF0F1;
    background: #FFF url(../images/square-green.png) no-repeat 3px 50%;
    text-transform: none;
}

#main h2 a {
    background: none;
    color: #88ac0b;
    text-decoration: none;
}

#main ul li {
    list-style-image: url(../images/bullet.gif);
}

.post-footer {
    background-color: #FAFAFA;
    padding: 5px;
    margin: 20px 10px 10px 10px;
    border: 1px solid #f2f2f2;
    font-size: 95%;
}

.post-footer .date {
    background: url(../images/clock.gif) no-repeat left center;
    padding-left: 20px;
    margin: 0 10px 0 5px;
}

.post-footer .comments {
    background: url(../images/comment.gif) no-repeat left center;
    padding-left: 20px;
    margin: 0 10px 0 5px;
}

.post-footer .readmore {
    background: url(../images/page.gif) no-repeat left center;
    padding-left: 20px;
    margin: 0 10px 0 5px;
}

/* Sidebar */
#sidebar {
    float: right;
    width: 26.5%;
    padding: 0;
    margin: 0;
    color: #68774A;
}

#sidebar h3 {
    margin-top: 10px;
    padding: 5px 5px;
    font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;
    color: #728D26;
}

#sidebar ul.sidemenu {
    list-style: none;
    text-align: left;
    margin: 7px 4px 8px 0;
    padding: 0;
    text-decoration: none;
    background: url(../images/dots.jpg) repeat-x left top;
}

#sidebar ul.sidemenu li {
    list-style: none;
    background: url(../images/dots.jpg) repeat-x left bottom;
    padding: 4px 0 4px 5px;
    margin: 0 2px;
    color: #68774A;
}

* html body #sidebar ul.sidemenu li {
    height: 1%;
}

#sidebar ul.sidemenu li a {
    text-decoration: none;
    background-image: none;
    color: #666666;
}

#sidebar ul.sidemenu li a:hover {
    color: #1773BC;
}

#sidebar ul.sidemenu ul {
    margin: 0 0 0 5px;
    padding: 0;
}

#sidebar ul.sidemenu ul li {
    background: none;
}

/* Footer */
footer {
    color: #C6DDEE;
    background: #CCC url(../images/footer.jpg) no-repeat center top;
    clear: both;
    width: 820px;
    height: 65px;
    text-align: center;
    font-size: 92%;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

/* alignment classes */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* display and additional classes */
.clear {
    clear: both;
}

.middle {
    vertical-align: middle;
}

